<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/main.css" type="text/css" rel="stylesheet">
    <title>VÍN</title>
</head>
    <body>
        <img class="i" src="static/img/vinlogo.svg" alt="Vínbúðin">
        <div>
            <h1>{{ name }}</h1>
            <h1>Vol:    {{ ml }} ml</h1>
            <h1>Alc:    {{ alc }}%</h1>
            <h1>Type:   {{ cat }}</h1>
            <h1>ID:     {{ id }}</h1>
        </div>
    </body>
</html>